@model IEnumerable<MaturitniCetba.Models.KnihaModel>


<table class="table" style="position: relative">
    <thead>
        <tr>
            <th>
                Název
            </th>
            <th>
                Autor
            </th>
            <th>
                Druh
            </th>
            <th>
                Období
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutorJmeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DruhNazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObdobiId)
            </td>
            <td>
                @Html.ActionLink("Smazat", "Smazat", new { idKnihy=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
