@model IEnumerable<MaturitniCetba.Models.KnihaModel>


<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Název
            </th>
            <th>
                Autor
            </th>
            <th>
                ID Druhu
            </th>
            <th>
                ID Obdobi
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutorJmeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DruhId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObdobiId)
            </td>
            <td>
                @Html.ActionLink("Smazat", "Smazat", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
