@model IEnumerable<MaturitniCetba.Models.UserModel>


<table class="table">
    <thead>
        <tr>
            <th>
                Jméno
            </th>
            <th>
                Email
            </th>
            <th>
                Třída
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
                 <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserJmeno) @Html.DisplayFor(modelItem => item.UserPrijmeni)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTrida)
                    </td>
                    <td>
                        @Html.ActionLink("Změnit heslo", "Zmenit", new { idZaka = item.Id }) |
                        @Html.ActionLink("Smazat", "Smazat", new { idZaka = item.Id }) |
                        @Html.ActionLink("Tisk", "Index", "Document", new { idZaka = item.Id })
                    </td>
                </tr>
            
        }
    </tbody>
</table>
