@model IEnumerable<MaturitniCetba.Models.KnihaModel>

<div>
    <div>
        @if (ViewBag.DvacetKnih == false)
        {
            <div> <p style="color:red;">Je nutno zadat 20 knih</p> </div>
        }
        @if (ViewBag.Proza == false)
        {
            <div> <p style="color:red;">Je nutno zadat alespon 2 prózy</p> </div>
        }
        @if (ViewBag.Poezie == false)
        {
            <div> <p style="color:red;">Je nutno zadat alespoň 2 poezie</p> </div>
        }
        @if (ViewBag.Drama == false)
        {
            <div> <p style="color:red;">Je nutno zadat alespoň 2 dramata</p> </div>
        }
        @if (ViewBag.Prvni == false)
        {
            <div> <p style="color:red;">Je nutno zadat alespoň 2 díla prvního období</p> </div>
        }
        @if (ViewBag.Druhe == false)
        {
            <div> <p style="color:red;">Je nutno zadat alespoň 3 díla druhého období</p> </div>
        }
        @if (ViewBag.Treti == false)
        {
            <div> <p style="color:red;">Je nutno zadat alespoň 4 díla třetí období</p> </div>
        }
        @if (ViewBag.Ctvrte == false)
        {
            <div> <p style="color:red;">Je nutno zadat alespoň 5 čtvrtého období</p> </div>
        }
        @if (ViewBag.Autor == false)
        {
            <div> <p style="color:red;">Nesmí být více než 2 knihy od jednoho autora</p> </div>
        }

        <br>
    </div>

    <div>
        <form asp-action="ProcessVybrat">
            <h5>Svetová a ceská literatura do konce 18. st</h5>
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.ObdobiId == 1)
                        {
                            <tr>
                                <td>
                                    <input id="@item.Id" type="checkbox" name="knihyId" value="@item.Id"/>    
                                    <label for="@item.Id">@Html.DisplayFor(modelItem => item.Nazev) (@Html.DisplayFor(modelItem => item.AutorJmeno))</label>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>

            <h5>Svetová a ceská literatura 19. st</h5>
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.ObdobiId == 2)
                        {
                            <tr>
                                <td>
                                    <input id="@item.Id" type="checkbox" name="knihyId" value="@item.Id" />
                                    <label for="@item.Id">@Html.DisplayFor(modelItem => item.Nazev) (@Html.DisplayFor(modelItem => item.AutorJmeno))</label>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>


            <h5>Svetová literatura 20. a 21. století</h5>
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.ObdobiId == 3)
                        {
                            <tr>
                                <td>
                                    <input id="@item.Id" type="checkbox" name="knihyId" value="@item.Id" />
                                    <label for="@item.Id">@Html.DisplayFor(modelItem => item.Nazev) (@Html.DisplayFor(modelItem => item.AutorJmeno))</label>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>

            <h5>Ceská literaturna 20. a 21. století</h5>
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.ObdobiId == 4)
                        {
                            <tr>
                                <td>
                                    <input id="@item.Id" type="checkbox" name="knihyId" value="@item.Id" />
                                    <label for="@item.Id">@Html.DisplayFor(modelItem => item.Nazev) (@Html.DisplayFor(modelItem => item.AutorJmeno))</label>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
            <input type="submit" value="Zapsat" class="btn btn-primary" />
        </form>
    </div>
</div>